/* Twitter Bootstrap Defaults */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/*
.sidebar-nav {
    padding: 9px 0;
}
*/

.sidebar-nav-container {
position: absolute;
}


.affix {
    position: fixed; 
    top: 60px;
    /* margin-left: 0px; */
    /* width: 220px; */
    /* left: 0px; */
}

.code_add {
    color: green;
    font-weight: bold;
}
.code_remove {
    color: red;
    text-decoration: line-through;
}

/* Icons */
[class^="icon-lang"], [class*=" icon-lang"] {
    background-image: url("/static/site/icons.png");
    width : 16px;
    height: 16px;
    
}
.icon-lang-pas  {background-position: -80px -0px;}
.icon-lang-java {background-position: -64px -0px;}
.icon-lang-php  {background-position: -48px -0px;}
.icon-lang-py   {background-position: -32px -0px;}
.icon-lang-vb   {background-position: -16px -0px;}
.icon-lang-html {background-position:  -0px -0px;}