/* Twitter Bootstrap Defaults */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/*
.sidebar-nav {
    padding: 9px 0;
}
*/

.sidebar-nav-container {
position: absolute;
}


.affix {
    position: fixed; 
    top: 60px;
    /* margin-left: 0px; */
    /* width: 220px; */
    /* left: 0px; */
}

