/* Twitter Bootstrap Defaults */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* A piss poor attempt at making the titlebar reflect the language */
/* .navbar-inner */
.navbar-lang-vb {
    /*
    background-color: rgb(34, 164, 232);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(34, 164, 232));
    border: 1px solid rgb(13,45,127);
    */
}
.navbar-lang-py {
    /*
    background-color: rgb(255, 219, 75);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 219, 75));
    border: 1px solid rgb(55,115,165);
    */
}
.navbar-lang-html {
    /*
    background-color: rgb(229,75,38);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(229, 75, 38));
    border: 1px solid rgb(150,50,25);
    */
}





/*
.sidebar-nav {
    padding: 9px 0;
}
*/

.sidebar-nav-container {position: absolute;}
.affix {
    position: fixed; 
    top: 60px;
    /* margin-left: 0px; */
    /* width: 220px; */
    /* left: 0px; */
}

pre {
    font-size: smaller;
}

.code_add {
    color: green;
    font-weight: bold;
}
.code_remove {
    color: red;
    text-decoration: line-through;
}

/* Icons */
[class^="icon-lang"], [class*=" icon-lang"] {
    background-image: url("/static/site/icons.png");
    /*
    width : 14px;
    height: 14px;
    */
}
.icon-lang-pas  {background-position: -80px -0px;}
.icon-lang-java {background-position: -64px -0px;}
.icon-lang-php  {background-position: -48px -0px;}
.icon-lang-py   {background-position: -32px -0px;}
.icon-lang-vb   {background-position: -16px -0px;}
.icon-lang-html {background-position:  -0px -0px;}

/*
.lang_select li {display: inline;}
.lang_select li span {display: none;}
.lang_select .unavalable {}
.lang_select .avalable   {border: 1px dashed green;}
.lang_select .current    {background-color: red;}
*/


/*
.navbar ul .lang_avalable {
    background-color: #ff5533;
    border: 1px dashed green;
}
*/