h1 {
    font-size: 200%;
}
h2 {
    font-size: 130%;
}

.hide {
    display: none;
}

.code {

}

.code .section {
    border: 1px solid #888;
    margin: 1em;
}

.code .add {
    color: green;
    font-weight: bold;
}
.code .remove{
    color: red;
    font-weight: bold;
}

.demo                         {display: inline-block; position: relative;}
.demo       .demo_placeholder {display: block;        position: absolute; top:0px; bottom:0px; left:0px; right:0px; background-color: #ff0000; opacity:0.4; filter:alpha(opacity=40);}
.demo:hover .demo_placeholder {display: none; }


.icon16 {background-image:url(icons.png); display:inline-block; vertical-align:top;}
.icon16 span {display: none;}
.icon16 {width: 16px; height: 16px;}

.icon16.i_java {background-position: -64px -0px;}
.icon16.i_php  {background-position: -48px -0px;}
.icon16.i_py   {background-position: -32px -0px;}
.icon16.i_vb   {background-position: -16px -0px;}
.icon16.i_html {background-position:  -0px -0px;}


.projects_table th {display: none;}